<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We are a job portal that connects job seekers with employers.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Employers</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>
            <i class="fa fa-map-marker"></i> 123 Main St, Anytown, USA
            <br>
            <i class="fa fa-phone"></i> 555-555-5555
            <br>
            <i class="fa fa-envelope"></i> <a href="mailto:info@jobportal.com">info@jobportal.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  